<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="../static/css/styles.css">
	<script src="./scripts/myScript.js"></script>
	<body>
		<div class="header">
			<h1>BABEL</h1>
		</div>
		<div class="row">

			<div class="col-3 col-s-3 menu">
				<div style="width:100%;">
					 <div class="aside">
	 					<h3>Corpus Details</h3>
						<h5>75,000 sentences</h5>
						<h5>90/10 split of train/test</h5>
	 					<p id="details">{{lang_details}}</p>
	 				</div>
				 </div>
			</div>
			<div class="col-6 col-s-9">
				<form id="Input_Area" action="http://localhost:5000/result" method="POST">
					<p><i>Choose a language to start with:</i></p>
					<select id="lang_select" class="select-css" onchange="changeLang()" name="Language">
					 {% for option in options %}
						 <option value="{{ option.Value }}"{% if option.Selected %} selected="selected"{% endif %}>{{ option.Label }}</option>
					 {% endfor %}
				 </select>
				 <div>
						<i><p id="instruction">Enter some text in {{current_lang}} to translate:</p></i>
					 	<textarea name="Input_Text" style="width:100%;" rows="6">{{input_echo}}</textarea>
						<p><input class="select-css" type="submit" value="submit" style="width:20%;"/></p>
				</div>
				</form>
				<div id="Project2">
					<h5>Input Text</h5>
					<h3>{{input_text}}</h3>
					<h5>Translation</h5>
					<h3>{{translation}}</h3>
				</div>
			</div>
			<div class="col-3 col-s-12">
				<div class="aside">
					<h3>BLEU Scores</h3>
					<h5>35 epochs</h5>
					<p id="BLEU">{{bleu_score}}</p>
				</div>
			</div>

		</div>
		<div class="footer">
			<p>dhh.com</p>
		</div>
		<script>
			function changeLang() {
				var bleus = {
					"French" : "1-grams: 0.6588</br>bi-grams: 0.5447</br>tri-grams: 0.4940</br>4-grams: 0.3815</br><hr>loss: 0.2570</br>acc: 0.9801</br>val_loss: 2.1694</br>val_acc: 0.7039",
					"German" : "1-grams: 0.6703</br>bi-grams: 0.5568</br>tri-grams: 0.5047</br>4-grams: 0.3897</br><hr>loss: 0.2378</br>acc: 0.9813</br>val_loss: 2.1694</br>val_acc: 0.7024",
					"Italian" : "1-grams: 0.7932</br>bi-grams: 0.7146</br>tri-grams: 0.6588</br>4-grams: 0.4915</br><hr>loss: 0.1287</br>acc: 0.9840</br>val_loss: 1.0991</br>val_acc: 0.8213",
					"Spanish" : "1-grams: 0.6442</br>bi-grams: 0.5233</br>tri-grams: 0.4715</br>4-grams: 0.3637</br><hr>loss: 0.2208</br>acc: 0.9840</br>val_loss: 2.2772</br>val_acc: 0.7074",
					"Turkish" : "1-grams: 0.6796</br>bi-grams: 0.5705</br>tri-grams: 0.5154</br>4-grams: 0.3732</br><hr>loss: 0.2303</br>acc: 0.9767</br>val_loss: 2.1991</br>val_acc: 0.6970"
				};

				var lang_details = {
					"German" : "German Vocabulary Size: 13,834</br>German Max Sentence Length: 17</br><hr>English Vocabulary Size: 7,910</br>English Max Sentence Length: 8",
					"French" : "French Vocabulary Size: 15,378</br>French Max Sentence Length: 14</br><hr>English Vocabulary Size: 7,468</br>English Max Sentence Length: 8",
					"Italian" : "Italian Vocabulary Size: 11772</br>Italian Max Sentence Length: 17</br><hr>English Vocabulary Size: 5296</br>English Max Sentence Length: 7",
					"Spanish" : "Spanish Vocabulary Size: 16,831</br>Spanish Max Sentence Length: 14</br><hr>English Vocabulary Size: 8,943</br>English Max Sentence Length: 10",
					"Turkish" : "Turkish Vocabulary Size: 23,521</br>Turkish Max Sentence Length: 9</br><hr>English Vocabulary Size: 8,183</br>English Max Sentence Length: 7"

				};
			  var x = document.getElementById("lang_select").value;
			  document.getElementById("instruction").innerHTML = "Enter some text in " + x + " to translate:";
				document.getElementById("BLEU").innerHTML = bleus[x];
				document.getElementById("details").innerHTML = lang_details[x];
			}
		</script>
	</body>
</html>
